body{
    background-color: #282727;
}

.taskText {
    flex: 1;
    font-size: 30px;
    color:white;
}
.done {
    opacity:.6;
    color: rgb(4, 247, 20);

}



#task {
    width: 50%;
    height: 48px;
    background-color: gray;
    border-radius: 10px;
}

#task::placeholder {
    font-size: 18px;
}

#AddText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 36px;
    background-color: white;
    color:rgb(7, 0, 0);
    border-radius: 12px;
    
}
#titleMain{
    text-align: center;
    color: white;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ol {
    font-size: 28px;
    color:rgb(225, 224, 224);
    list-style-position:inside;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    
    
}

button {

    background-color: gray;
    width: 36px;
    height: 36px;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    transition: .2s ease;
}
.modal {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);
    transition: .2s ease;

}

.hidden {
    display: none;
}

.modal-content {
    background: rgb(130, 130, 130);
    padding: 20px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    min-width: 300px;
    transition: .2s ease;

}
#editInput {
    background-color: gray;
    width: 300px;
    height: 30px;
}
.edit-input {
    display: flex;
    justify-content: center;
}
#confirmYes {
    color: black;
    width: 60px;
    height: 30px;
}
#confirmNo {
    color: black;
    width: 60px;
    height: 30px;
}
#modalText{
    font-size: 22px;
    
}
#editButton {
    color: black;
    width: 80px;
    height: 30px;
}
#leaveButton {
    color: black;
    width: 80px;
    height: 30px;   
}
#editModalText{
    font-size: 22px;
}

#modalTextComplete{
    font-size: 22px;
    
}

.DivLi {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: solid rgb(0, 0, 0) 2px;
    background-color: rgb(92, 101, 101);
    border-radius: 10px;

}
svg.lucide.lucide-Trash {
    display: flex;
    justify-content: center;
    align-items: center;
}
svg.lucide.lucide-Check {
    display: flex;
    justify-content: center;
    align-items: center;
}
svg.lucide.lucide-pencil {
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-number{
    margin-right: 12px;
    color: white;
}

.modal-buttonConfirm{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.modal-buttonEdit {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}


.modal-buttonComplete{
    display: flex;
    justify-content:center;
    gap: 15px;
    margin-top: 20px;
}
#completeYes {
    color: black;
    width: 60px;
    height: 30px;
}
#completeNo {
    color: black;
    width: 60px;
    height: 30px;
}
.Ok-Button{
    display: flex;
    justify-content:center;
    gap: 15px;
    margin-top: 20px;
}
#OKButton{
    color: black;
    width: 60px;
    height: 30px;
}