# macOS
.DS_Store

# VS Code
.vscode/

# JetBrains (WebStorm, IntelliJ, PyCharm)
.idea/

# Logs
*.log

# Node.js (если позже подключишь npm)
node_modules/

# Environment variables
.env

# Build folders
dist/
build/
main.js
tasks.js
vars.js